* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* form {
  border: 2px solid red;
  padding: 1rem;
}
form input {
  outline: none;
  border: 2px solid black;
  padding: 0.5rem 1rem;
  height: 48px;
  border-radius: 4px;
  font-size: 1rem;
  color: red;
  transition: 0.5s ease;
  width: 25%;
}
form input:focus {
  border: 2px solid red;
  width: 75%;
}

form input::placeholder {
  color: red;
}

form input {
  border: 2px solid grey;
} */

.Parent {
  background-color: blueviolet;
  height: 50vh;
  width: 50vw;
  position: relative;
  left: 10%;
}

.Child1 {
  width: 50%;
  height: 50%;
  background-color: black;
  position: absolute;
  z-index: 3;
}
.Child2 {
  width: 50%;
  height: 50%;
  background-color: rgb(122, 122, 122);
  position: absolute;
  z-index: 2;
}

.Child {
  background-color: rgb(113, 255, 5);
  height: 48px;
  width: 48px;
  border-radius: 24px;
  animation: fadeIn 2s infinite ease-in-out;
  position: absolute;
  bottom: 0;
  /* transform: translateY(-50%); */
}

@keyframes fadeIn {
  0% {
    bottom: 70%;
  }
  10% {
    bottom: 0%;
    left: 10%;
  }
  20% {
    bottom: 50%;
    left: 20%;
  }
  30% {
    bottom: 0%;
    left: 30%;
  }
  40% {
    bottom: 30%;
    left: 40%;
  }
  50% {
    bottom: 0%;
    left: 50%;
  }
  60% {
    bottom: 10%;
    left: 60%;
  }
  70% {
    bottom: 0%;
    left: 70%;
  }
}
